## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
0,0,Severnoye,56.3491,78.3619,48.58,94,90,14.38,RU,overcast clouds,2022-06-29 19:57:31
1,1,Qaanaaq,77.4840,-69.3632,46.89,50,12,3.27,GL,few clouds,2022-06-29 19:57:31
2,2,Hermanus,-34.4187,19.2345,62.40,58,9,7.14,ZA,clear sky,2022-06-29 19:57:32
3,3,Lorengau,-2.0226,147.2712,81.32,76,91,8.41,PG,overcast clouds,2022-06-29 19:57:32
4,4,Lavrentiya,65.5833,-171.0000,47.14,82,94,10.45,RU,overcast clouds,2022-06-29 19:57:32

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
locations = city_data_df[["Lat", "Lng"]]
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
3,3,Lorengau,-2.0226,147.2712,81.32,76,91,8.41,PG,overcast clouds,2022-06-29 19:57:32
6,6,Albany,42.6001,-73.9662,84.02,45,75,11.68,US,broken clouds,2022-06-29 19:52:42
9,9,Butaritari,3.0707,172.7902,81.72,78,100,15.93,KI,light rain,2022-06-29 19:57:34
11,11,Arraial Do Cabo,-22.9661,-42.0278,78.76,57,0,11.50,BR,clear sky,2022-06-29 19:57:35
14,14,Vaini,-21.2000,-175.2000,75.36,100,75,8.05,TO,broken clouds,2022-06-29 19:57:36
15,15,Kutum,14.2000,24.6667,75.11,50,37,9.82,SD,scattered clouds,2022-06-29 19:57:36
18,18,Humen,22.8190,113.6731,84.11,76,78,7.56,CN,broken clouds,2022-06-29 19:57:38
22,22,Meulaboh,4.1363,96.1285,75.67,84,100,6.55,ID,overcast clouds,2022-06-29 19:57:39
23,23,Georgetown,5.4112,100.3354,76.95,99,40,5.01,MY,thunderstorm with light rain,2022-06-29 19:56:48
24,24,Boyuibe,-20.4167,-63.2833,76.80,35,0,9.89,BO,clear sky,2022-06-29 19:57:40

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID                233
City                   233
Lat                    233
Lng                    233
Max Temp               233
Humidity               233
Cloudiness             233
Wind Speed             233
Country                233
Current Description    233
Date                   233
dtype: int64

In [7]:
preferred_cities_df.count()

City_ID                233
City                   233
Lat                    233
Lng                    233
Max Temp               233
Humidity               233
Cloudiness             233
Wind Speed             233
Country                233
Current Description    233
Date                   233
dtype: int64

In [8]:
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Country                0
Current Description    0
Date                   0
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description,Date
3,3,Lorengau,-2.0226,147.2712,81.32,76,91,8.41,PG,overcast clouds,2022-06-29 19:57:32
6,6,Albany,42.6001,-73.9662,84.02,45,75,11.68,US,broken clouds,2022-06-29 19:52:42
9,9,Butaritari,3.0707,172.7902,81.72,78,100,15.93,KI,light rain,2022-06-29 19:57:34
11,11,Arraial Do Cabo,-22.9661,-42.0278,78.76,57,0,11.50,BR,clear sky,2022-06-29 19:57:35
14,14,Vaini,-21.2000,-175.2000,75.36,100,75,8.05,TO,broken clouds,2022-06-29 19:57:36
...,...,...,...,...,...,...,...,...,...,...,...
672,672,Fare,-16.7000,-151.0167,79.68,71,14,20.36,PF,light rain,2022-06-29 20:01:50
674,674,Fredericton,45.9454,-66.6656,80.42,38,0,11.50,CA,clear sky,2022-06-29 19:59:52
677,677,Caucaia,-3.7361,-38.6531,82.35,68,75,6.91,BR,broken clouds,2022-06-29 19:58:10
679,679,Bani,18.2833,-70.3333,87.85,56,100,16.46,DO,overcast clouds,2022-06-29 20:01:53
680,680,Davila,18.4726,120.5763,80.02,85,100,4.29,PH,overcast clouds,2022-06-29 20:01:53

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Lorengau,PG,81.32,overcast clouds,-2.0226,147.2712,
6,Albany,US,84.02,broken clouds,42.6001,-73.9662,
9,Butaritari,KI,81.72,light rain,3.0707,172.7902,
11,Arraial Do Cabo,BR,78.76,clear sky,-22.9661,-42.0278,
14,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,
15,Kutum,SD,75.11,scattered clouds,14.2000,24.6667,
18,Humen,CN,84.11,broken clouds,22.8190,113.6731,
22,Meulaboh,ID,75.67,overcast clouds,4.1363,96.1285,
23,Georgetown,MY,76.95,thunderstorm with light rain,5.4112,100.3354,
24,Boyuibe,BO,76.80,clear sky,-20.4167,-63.2833,

In [11]:
len(hotel_df)

233

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Lorengau,PG,81.32,overcast clouds,-2.0226,147.2712,Lorengau
6,Albany,US,84.02,broken clouds,42.6001,-73.9662,Voorheesville
9,Butaritari,KI,81.72,light rain,3.0707,172.7902,Ukiangang
11,Arraial Do Cabo,BR,78.76,clear sky,-22.9661,-42.0278,Cabo Frio
14,Vaini,TO,75.36,broken clouds,-21.2000,-175.2000,Nukuhetulu

In [ ]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig